@import url('table.css');

html{
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia, serif;
}

blockquote{
    border-left-color: rgb(221,221,221);
    font-style: italic;
}

.author{
    font-style: italic;
    text-align: right;
}