@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body{
    margin: 5rem;
    color: rgb(0, 9, 136);
    font-family: 'Roboto', sans-serif;
    max-width: 425px;
}

.site-title{
    font-family: 'Abril Fatface', cursive;
    color: rgb(0, 3, 51);
}

.site-title:after{
    content: '';
    width: 430px;
    height: 2px;
    background: rgb(0, 9, 136);
    display: block;
    margin-top: 1rem;
}

img{
    max-width: 400px;
}

li{
    list-style: square;
}

li:hover, li > a:hover{
    color: red;
}

a{
    color: rgb(0, 9, 136);
    text-decoration: none;
}

footer p:before {
    content: '';
    width: 430px;
    height: 2px;
    background: rgb(0, 9, 136);
    display: block;
    margin-bottom: 1rem;
}