*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

section{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

div{
    display: flex;
    max-width: 65vw;
    margin-left: 1em;
}

span{
    border: 1px solid black;
}

section.notes{
    flex-direction: column;
    max-width: 15vw;
}

section.week{
    max-width: 50vw;
}

.notes span{
    padding-bottom: 11rem;
}

.week span{
    padding: 1rem 1rem 3.5rem 1rem;
}

.week :first-child,
.week :nth-child(7)
{
    flex-basis: 100%;
}

.week :nth-child(8),
.week :nth-child(9){
    flex-basis: 50%;
}

.week :nth-child(2),
.week :nth-child(3),
.week :nth-child(4),
.week :nth-child(5),
.week :nth-child(6){
    flex-basis: 20%;
}