html{
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}

article{
    max-width: 60%;
    display: inline-block;
    padding-left: 15px;
}

section img{
    max-width: 70%;
}

aside{
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}