@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

main{
    display: flex;
    margin: 3rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 57%;
}

.thicks{
    flex-basis: 30%;
}

.img{
    border: 1px solid grey;
    border-radius: 1rem;
    margin: 1rem;
}

img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

li{
    list-style-type: none;
}

.img p{
    padding: 0.6rem 0.3rem;
    font-weight: bold;
}

.thicks ul li{
    padding: 0.5rem 0;
}

i{
    padding-right: 0.5rem;
}

.thicks h2{
    margin-top: 1.5rem;
}