*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    width: 550px;
    margin: 0 auto;
}

h1 {
    font-size: var(--font-size-h1);
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 1.5rem;
}

h3 {
    font-size: var(--font-size-h3);
    font-style: italic;
    padding: 0.5rem 0;
}

p {
    font-size: var(--font-size-p);
    padding-bottom: 0.5rem;
}