@media (min-width: 500px){
    html{ font-size: var(--font-size-14); }
}

@media (min-width: 700px){
    html{ font-size: var(--font-size-16); }
}

@media (min-width: 1600px){
    html{ font-size: var(--font-size-18); }
}