*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    background-color: #E8EAEE;
}

section{
    display: inline-block;
    margin: 15rem 30rem;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 1.5rem;
    outline: solid 5px #203F5D;
    transition: outline-width 0.4s linear;
    background-color: white;
}

a:first-of-type{
    margin-right: 1rem;
}

a:hover{
    outline-width: 10px;
}