*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5em;
    grid-template-areas:
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer";
}

.container {
    background: black;
    color: white;
    padding: 1.5rem;
    border-radius: 0.3em;
}

header.container {
    grid-area: header;
}

main.container {
    grid-area: main;
}

aside.container {
    grid-area: sidebar;
}

footer.container {
    grid-area: footer;
}