@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font: 16px 'Poppins';
}

body, form, input, label {
    font: inherit;
}

body{
    background: linear-gradient(to right, rgb(158,101,89), rgb(245,227,194));
}

.container{
    display: flex;
    margin: 3rem 10rem;
    width: 900px;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 1em black;
    padding: 5.5rem 0 2rem 4rem;
}

.main{
    margin-left: 5rem;
}

h1{
    text-align: center;
    padding-bottom: 2rem;
}

img{
    width: 330px;
    height: 410px;
}

.herefor li{
    padding-left: 1.7rem;
    padding-bottom: 0.5rem;
}

label{
    padding-left: 0.6rem;
}

ul li{
    list-style: none outside;
    color: grey;
}

ul li:last-of-type{
    padding-bottom: 1rem;
}

li input, li label{
    cursor: pointer;
    
}

.forgot{
    padding-left: 1rem;
}

.create{
    padding-left: 2rem;
}

.forgot{
    font-size: 12px;
    color: grey;
    padding-bottom: 3rem;
}

.forgot a{
    color: grey;
    font-weight: bold;
}

.create{
    font-size: 12px;
    color: grey;
}

.create a{
    color: grey;
    font-weight: bold;
}

form p {
    padding-bottom: 1.5rem;
    position: relative;
}

form input {
    outline: none;
}

input[type="radio"]{
    transform: scale(2);
}

input[type="submit"]{
    color: white;
    background-color: rgb(142, 107, 82);
    border-radius: 1em;
    padding: 0.3em 2rem;
    border: none;
    cursor: pointer;
    margin-bottom: 0.6rem;
}

input[type="submit"]:hover{
    background-color: rgb(66, 44, 30);
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    border-radius: 1.2em;
    border: 1px solid #999999;
    padding: 0.4rem 0.7rem 0.4rem 3.3rem;
    background-color: rgb(230, 230, 230);
}

form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="email"]:hover,
form input[type="password"]:hover {
    border-color: rgb(94, 71, 54);
}

form i {
    position: absolute;
    top: 0.7rem;
    left: 1.5rem;
    color: grey;
}

form input:focus + i,
form input:hover + i {
    color: rgb(94, 71, 54);
}