*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
}

.container {
    background: black;
    color: white;
    padding: 1.5rem;
    border-radius: 0.3em;
}

header.container,
footer.container {
    grid-column: 1 / -1;
}

main.container {
    grid-column: 1 / span 3;
}

aside.container {
    grid-column: span 1;
}